<% provide(:page_title, page_title("glyphicon-shopping_bag","品种一览","这里列出了所有的品种")) %>
<div class="block block-themed block-last">
  <div class="block-title">
   <div class="block-options">
    <a href="javascript:void(0)" class="btn btn-option" data-toggle="tooltip" title="Available For Hire"><i class="icon-ok"></i></a>
    <a href="javascript:void(0)" class="btn btn-option" data-toggle="tooltip" title="Send Message"><i class="icon-envelope"></i></a>
    <a href="javascript:void(0)" class="btn btn-option">Web Designer</a>
  </div>
  <h4>User Profile</h4>
</div>
<div class="block-content">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
    <div class="list-group-item">
     <div class=" text-center">
       <%= image_tag "template/avatar.jpg", class: "img-circle" %>
     </div>
   </div>
   <a href="javascript:void(0)" class="list-group-item"><i class="icon-coffee"></i> Portfolio</a>
   <a href="javascript:void(0)" class="list-group-item"><i class="icon-paper-clip"></i> Projects</a>
   <a href="javascript:void(0)" class="list-group-item"><i class="icon-picture"></i> Gallery</a>
 </div>
</div>
<div class="col-sm-9">
 <ul class="nav nav-tabs" data-toggle="tabs">
  <li class="active"><a href="#modal-user-account-account"><i class="icon-cog"></i> 账户信息</a></li>
  <li><a href="#modal-user-account-profile"><i class="icon-user"></i> 个人资料</a></li>
</ul>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
<div class="tab-content">
  <div class="tab-pane active" id="modal-user-account-account">
    <div class="form-group">
      <%= f.label "用户名", class: "control-label col-md-4" %>
      <div class="col-md-8">
        <p class="form-control-static"><%= current_user[:username] %></p>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "邮件地址", class: "control-label col-md-4" %>
      <div class="col-md-8">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>
    <h4 class="sub-header">更改密码</h4>
    <div class="form-group">
      <%= f.label "当前密码", class: "control-label col-md-4" %>
      <div class="col-md-8">
        <%= f.password_field :current_password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "新密码", class: "control-label col-md-4" %>
      <div class="col-md-8">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "确认新密码", class: "control-label col-md-4" %>
      <div class="col-md-8">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="modal-user-account-profile">
    <div class="form-group">
      <%= f.label "姓名", class: "control-label col-md-4" %>
      <div class="col-md-8">
        <%= f.text_field :realname, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4" for="modal-profile-gender">Gender</label>
      <div class="col-md-4">
        <select id="modal-profile-gender" name="modal-profile-name" class="form-control">
          <option value="m">Male</option>
          <option value="f">Female</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4" for="modal-profile-birthdate">Birthdate</label>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" id="modal-profile-birthdate" name="modal-profile-birthdate" class="form-control input-datepicker-close">
          <span class="input-group-addon"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4" for="modal-profile-bio">Bio</label>
      <div class="col-md-8">
        <textarea id="modal-profile-bio" name="modal-profile-bio" class="form-control" rows="3" placeholder="Bio Information.."></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
   <button class="btn btn-success" data-dismiss="modal"><i class="icon-save"></i> Save</button>
 </div>
 <% end %>
</div>
</div>
</div>
</div>
</div>
