<div class="block block-themed block-last">
  <div class="block-title">
    <h4>General Form Elements &amp; Components</h4>
  </div>
  <div class="block-content">
    <h4 class="sub-header">基本数据</h4>
    <%= form_for(@client, html: { class: "form-horizontal" }) do |f| %>
    <div class="form-group">
      <%= f.label :name, "名称", class: "control-label col-md-2" %>
      <div class="col-md-6">
        <%= f.text_field :name, class: "form-control" %>
        <span class="help-block">终端的备案名称("XX省XX市XX")</span>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :types, "分类", class: "control-label col-md-2" %>
      <div class="col-md-2">
       <%= f.select :types, Client::Types, {include_blank: true}, {class: "form-control"} %>
       <span class="help-block">终端类型</span>
      </div>
      <div class="col-md-2">
       <%= f.select :grade, Client::Grade, {include_blank: true}, {class: "form-control"} %>
       <span class="help-block">终端等级</span>
      </div>
      <div class="col-md-2">
       <%= f.select :terminal, Client::Terminal, {include_blank: true}, {class: "form-control"} %>
       <span class="help-block">所属终端</span>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :bed, "数据", class: "control-label col-md-2" %>
      <div class="col-md-3">
       <%= f.text_field :bed, class: "form-control" %>
       <span class="help-block">床位数</span>
      </div>
      <div class="col-md-3">
       <%= f.text_field :staff, class: "form-control" %>
       <span class="help-block">员工数</span>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :address, "地址", class: "control-label col-md-2" %>
      <div class="col-md-6">
        <%= f.text_field :address, class: "form-control" %>
        <span class="help-block">终端的详细地址("XX省XX市XX街道XX路XX号")</span>
      </div>
    </div>
    <div class="form-group form-actions">
      <div class="col-md-10 col-md-offset-2">
        <button type="reset" class="btn btn-danger"><i class="icon-repeat"></i> 重置</button>
        <button type="submit" class="btn btn-success"><i class="icon-ok"></i> 提交</button>
      </div>
    </div>
    <% end %>
    <h4 class="sub-header">上传模板数据</h4>
    <%= form_tag import_products_path, multipart: true, class: "form-horizontal" do %>
    <div class="form-group">
      <label class="control-label col-md-2" for="file">目标数据模板</label>
      <div class="col-md-4">
        <%= file_field_tag :file, class: "form-control" %>
      </div>
    </div>  
    <div class="form-group form-actions">
      <div class="col-md-10 col-md-offset-2">
        <button type="submit" class="btn btn-success"><i class="icon-cloud-upload"></i> 上传</button>
      </div>
    </div>
    <% end %>
  </div>
</div>