<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @contact.department %>
</p>

<p>
  <strong>Duty:</strong>
  <%= @contact.duty %>
</p>

<p>
  <strong>Workspace:</strong>
  <%= @contact.client.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @contact.sex %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @contact.birthdate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @contact.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Tencent:</strong>
  <%= @contact.tencent %>
</p>

<p>
  <strong>Idcard:</strong>
  <%= @contact.idcard %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @contact.hobby %>
</p>

<p>
  <strong>Nation:</strong>
  <%= @contact.nation %>
</p>

<p>
  <strong>Marital:</strong>
  <%= @contact.marital %>
</p>

<p>
  <strong>Blood:</strong>
  <%= @contact.blood %>
</p>

<p>
  <strong>Height:</strong>
  <%= @contact.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @contact.weight %>
</p>

<p>
  <strong>Zodiac:</strong>
  <%= @contact.zodiac %>
</p>

<p>
  <strong>School:</strong>
  <%= @contact.school %>
</p>

<p>
  <strong>Science:</strong>
  <%= @contact.science %>
</p>

<p>
  <strong>Note:</strong>
  <%= @contact.note %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
