<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="heading-buttons">
  <h3>Add product<span> | Online Shop</span></h3>
  <div class="buttons pull-right">
    <a href="<%= products_url %>" class="btn btn-default btn-icon glyphicons share"><i></i> Preview</a>
    <a href="" class="btn btn-primary btn-icon glyphicons ok_2"><i></i> Save</a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>
<!-- // Heading END -->

<div class="innerLR">

  <!-- Widget -->
  <div class="widget widget-tabs">
  
    <!-- Widget heading -->
    <div class="widget-head">
      <ul>
        <li class="active"><a href="#productDescriptionTab" data-toggle="tab" class="glyphicons font"><i></i>详细信息</a></li>
        <li><a href="#productPhotosTab" data-toggle="tab" class="glyphicons picture"><i></i>图片</a></li>
        <li><a href="#productIntroTab" data-toggle="tab" class="glyphicons adjust_alt"><i></i>产品介绍</a></li>
        <li><a href="#productPriceTab" data-toggle="tab" class="glyphicons table"><i></i>价格设置</a></li>
        <li><a href="#productOtherTab" data-toggle="tab" class="glyphicons podium"><i></i>其他</a></li>
      </ul>
    </div>
    <!-- // Widget heading END -->
    
    <div class="widget-body">
      <div class="tab-content">
      
        <!-- Description -->
        <div class="tab-pane active" id="productDescriptionTab">
        
          <!-- Row 名称-->
          <div class="row-fluid">
            <!-- Column -->
            <div class="span3">
              <strong>产品名称</strong>
              <p class="muted">这里输入产品的全称</p>
            </div>
            <!-- // Column END -->
            
            <!-- Column -->
            <div class="span9">
              <%= f.label :name, "名称" %>
              <%= f.text_field :name, class: "span6", placeholder: "输入产品名称..." %>
              <div class="separator"></div>
            </div>
            <!-- // Column END -->
          </div>
          <!-- // Row END -->
          
          <!-- Row 厂家-->
          <div class="row-fluid">
            <!-- Column -->
              <div class="span3">
                <strong>生产厂商</strong>
                <p class="muted">这里输入生产厂商的名称</p>
              </div>
              <!-- // Column END -->
              
              <!-- Column -->
              <div class="span9">
                <%= f.label :factory, "厂商" %>
                <%= f.text_field :factory, class: "span6", placeholder: "输入生产厂商的名称..." %>
                <div class="separator"></div>
              </div>
              <!-- // Column END -->
          </div>
          <!-- // Row END -->

          <!-- Row 规格-->
          <div class="row-fluid">
            <!-- Column -->
              <div class="span3">
                <strong>产品规格</strong>
                <p class="muted">这里输入产品的详细规格</p>
              </div>
              <!-- // Column END -->
              
              <!-- Column -->
              <div class="span9">
                <%= f.label :spec, "规格" %>
                <%= f.text_field :spec, class: "span6", placeholder: "输入产品的规格型号..." %>
                <div class="separator"></div>
              </div>
              <!-- // Column END -->
          </div>
          <!-- // Row END -->
        </div>
        <!-- // Description END -->
        
        <!-- Photos -->
        <div class="tab-pane" id="productPhotosTab">
        
        </div>
        <!-- // Photos END -->
        
        <!-- Attributes -->
        <div class="tab-pane" id="productIntroTab">
            <!-- Row -->
          <div class="row-fluid">
          
            <!-- Column -->
            <div class="span3">
              <strong>Description</strong>
              <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- // Column END -->
            
            <!-- Column -->
            <div class="span9">
              <%= f.label :intro %>
              <%= f.text_area :intro, class: "wysihtml5", style: "width: 96%", rows: "7" %>
            </div>
            <!-- // Column END -->
            
          </div>
          <!-- // Row END -->
        </div>
        <!-- // Attributes END -->
        
        <!-- Price -->
        <div class="tab-pane" id="productPriceTab">
            <div class="row-fluid">
            <!-- Column -->
              <div class="span3">
                <strong>中标价</strong>
                <p class="muted">产品中标的价格</p>
              </div>
              <!-- // Column END -->
              
              <!-- Column -->
              <div class="span9">
                <%= f.label :bid_price, "中标价" %>
                <%= f.text_field :bid_price, class: "span6" %>
                <div class="separator"></div>
              </div>
              <!-- // Column END -->
          </div>

          <div class="row-fluid">
            <!-- Column -->
              <div class="span3">
                <strong>回款价</strong>
                <p class="muted">产品回款的价格</p>
              </div>
              <!-- // Column END -->
              
              <!-- Column -->
              <div class="span9">
                <%= f.label :final_price, "回款价" %>
                <%= f.text_field :final_price, class: "span6" %>
                <div class="separator"></div>
              </div>
              <!-- // Column END -->
          </div>
        </div>
        <!-- // Price END -->
        
        <!-- SEO -->
        <div class="tab-pane" id="productOtherTab">
            <div class="row-fluid">
            <!-- Column -->
              <div class="span3">
                <strong>缩写</strong>
                <p class="muted">产品的缩写</p>
              </div>
              <!-- // Column END -->
              
              <!-- Column -->
              <div class="span9">
                <%= f.label :shortname, "缩写" %>
                <%= f.text_field :shortname, class: "span6" %>
                <div class="separator"></div>
              </div>
              <!-- // Column END -->
          </div>

          <div class="row-fluid">
            <!-- Column -->
              <div class="span3">
                <strong>缩位码</strong>
                <p class="muted">产品的缩位码</p>
              </div>
              <!-- // Column END -->
              
              <!-- Column -->
              <div class="span9">
                <%= f.label :shortcode, "缩位码" %>
                <%= f.text_field :shortcode, class: "span6" %>
                <div class="separator"></div>
              </div>
              <!-- // Column END -->
          </div>
        </div>
        <!-- // SEO END -->
        
      </div>
    </div>
  </div>
  <!-- // Widget END -->
  
  <!-- Bottom buttons -->
  <div class="heading-buttons">
    <div class="buttons pull-right" style="margin: 0;">
      <a href="" class="btn btn-default btn-icon glyphicons share"><i></i> Preview</a>
      <%= f.submit %>
      <a href="" class="btn btn-primary btn-icon glyphicons ok_2"><i></i> Save</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- // Bottom buttons END -->
</div>
<% end %>