<% provide(:page_title, page_title("glyphicon-shopping_bag","品种一览","这里列出了所有的品种")) %>

<div class="btn-group btn-group-sm pull-right">
  <button class="btn btn-default" data-toggle="tooltip" title="Table Settings"><i class="icon-cog"></i></button>
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-angle-down"></i></button>
  <ul class="dropdown-menu">
    <li><a href="<%= new_product_url %>"><i class="icon-plus"></i> 新增品种</a></li>
    <li><a href="javascript:void(0)"><i class="icon-file-alt"></i> 导入模板数据</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0)"><i class="icon-external-link"></i> 导出数据</a></li>
  </ul>
</div>
<div class="block block-themed block-last">
  <div class="block-title">
    <h4><i class="icon-asterisk"></i> Showing 10 out of 50 Products</h4>
  </div>
  <div class="block-content">
    <div class="row row-items">
      <div class="col-md-3">
        <div class="block">
          <div class="block-title">
            <h4>品种分类</h4>
          </div>
          <div class="block-content full">
            <ul class="nav nav-pills nav-stacked remove-margin">
              <li class="active"><a href="javascript:void(0)">Category #1</a></li>
              <li><a href="javascript:void(0)">Category #2</a></li>
              <li><a href="javascript:void(0)">Category #3</a></li>
              <li><a href="javascript:void(0)">Category #4</a></li>
              <li><a href="javascript:void(0)">Category #5</a></li>
              <li><a href="javascript:void(0)">Category #6</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <% @products.each do |product| %>
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><%= link_to product.name, product %> <small><%= product[:spec] %></small></h4>
            <p><%= product[:factory] %><br><strong><%= product[:shortname] %>( <%= product[:shortcode] %> )</strong></p>
            <p>Available: <strong>50</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 983,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <% end %>
        <div class="text-center">
          <ul class="pagination">
            <li class="disabled"><a href="javascript:void(0)">Prev</a></li>
            <li class="active"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>